#logo {
    padding-top: 75px;
    background-image: url("../../../img/logo/foto-portada.jpggit");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;

    .buttonHome {
        display: flex;
        flex-direction: column;

        button {
            background-color: rgba(64, 64, 64, 0.7);
            color: $navbarText;
            height: 75px;
            width: 250px;
            border: solid $backgoundImg;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
            transform: translate(23px, 50px);
        }
    }
}

#logoPrincipal {
    width: fit-content;

    img {
        background-color: rgba(64, 64, 64, 0.7);
        transform: translate(-5px, 60px);
    }
}

.gridHome {
    width: 100%;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 110vh;
}