.mainNosotros {
    padding-top: 150px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
}

body {
    .mainNosotros {
        width: 100%;
    }
}

#nosotros {
    padding-bottom: 30px;
}

h1 {
    color: $textColor;
    padding-left: 20px;
}

h2 {
    background-color: $backgroundTitle;
    height: 50px;
    width: 100%;
    color: $textColor;
    margin-top: 5%;
    margin-bottom: 0px;
}

p {
    color: $textColor;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.mapa {
    display: flex;
    justify-content: center;
    padding: 5%;
}