#productos {
    @extend %flex-img;
    padding-top: 120px;
    padding-bottom: 50px;
}

.productos {
    @extend %flex-img;
}

.img-fluidP {
    width: 100%;
    height: 500px !important;
    object-fit: cover;
}

.mainProductos {
    padding-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.texto-description {
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    color: $textColor;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    padding: 10px;
    transition: bottom 0.4s ease;
}

.descriptionHierro {
    position: relative;
}

.descriptionHierro:hover {
    .texto-description {
        bottom: 0;
        visibility: visible;
    }
}

.descriptionAluminio {
    position: relative;
}

.descriptionAluminio:hover {
    .texto-description {
        bottom: 0;
        visibility: visible;
    }
}

.descriptionVidrio {
    position: relative;
}

.descriptionVidrio:hover {
    .texto-description {
        bottom: 0;
        visibility: visible;
    }
}

ul {
    .list-group-item {
        background-color: rgba(0, 0, 0, 0.5);
        color: $textColor;
    }
}

#listHierro {
    font-size: 0.8rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    opacity: 0.8;

}

#listAluminio {
    font-size: 0.8rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    opacity: 0.8;
}

#listVidrio {
    font-size: 0.8rem;
}