.carousel-inner {
    img {
        width: 600px;
        height: 550px;
        padding: 40px;
        object-fit: cover;
    }
}

#trabajos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

#aberturas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

#fotoAberturas {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px
}

#asadores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

#fotoAsadores {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#galerias {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoGalerias {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#muebles {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoMuebles {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#pyP {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoPyP {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#espejos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoEspejos {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#barandas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoBarandas {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#mamparas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoMamparas {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}