.carousel-inner {
    img {
        width: 600px;
        height: 550px;
        padding: 40px;
        object-fit: cover;
    }
}

#trabajos {
    @extend %flex-img;
    padding-top: 120px;
    padding-bottom: 50px;
}

#aberturas {
    @extend %flex-img;
    margin-top: 0px;
}

#fotoAberturas {
    background-color: $backgoundImg;
    padding: 0px;
}

#asadores {
    @extend %flex-img;
    margin-top: 0px;
}

#fotoAsadores {
    background-color: $backgoundImg;
    padding: 0px;
}

#galerias {
    @extend %flex-img;
}

#fotoGalerias {
    background-color: $backgoundImg;
    padding: 0px;
}

#muebles {
    @extend %flex-img;
}

#fotoMuebles {
    background-color: $backgoundImg;
    padding: 0px;
}

#pyP {
    @extend %flex-img;
}

#fotoPyP {
    background-color: $backgoundImg;
    padding: 0px;
}

#espejos {
    @extend %flex-img;
}

#fotoEspejos {
    background-color: $backgoundImg;
    padding: 0px;
}

#barandas {
    @extend %flex-img;
}

#fotoBarandas {
    background-color: $backgoundImg;
    padding: 0px;
}

#mamparas {
    @extend %flex-img;
}

#fotoMamparas {
    background-color: $backgoundImg;
    padding: 0px;
}

.carousel-control-next-icon.custom-next-icon::before {
    color: purple;
}