/* button CONTACTO */
.btn {
    background-color: $backgroundInput;
    margin-left: 40px;
    margin-top: 40px;
    color: $backgroundTitle;

    &:hover {
        background-color: white;

    }
}

/* button HOME */
#logo {
    .buttonHome {
        display: flex;
        flex-direction: column;

        .btn {
            margin-left: 0px;
        }

        button {
            background-color: rgba(64, 64, 64, 0.8);
            color: $navbarText;
            height: 75px;
            width: 250px;
            border: solid $backgoundImg;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
        }
    }
}

.buttonHome {
    a {
        transform: 0.3s ease;
    }
}

.buttonHome {

    a:hover {
        transform: scale(1.03);
    }
}

/* button NAVBAR */
button {
    .navbar-toggler-icon {
        background-color: $backgoundImg;
    }
}