/* card PRODUCTOS */
#cards {
    @extend %flex-img;
    padding-top: 150px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card-text {
    color: $backgroundTitle;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.card-body {
    height: 150px;
    background-color: $backgoundImg;

}

.card-img-top {
    height: 200px;
    background-color: $backgroundInput;
    object-fit: contain;
}

#cards {
    div {
        border: solid 2px $backgoundImg;

    }
}

#presupuesto {
    img {
        padding: 5px;
    }
}

/* card PROVEEDORES */
.cardProveedores .row {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;

    .proveedores {
        border-radius: 3%;
        box-shadow: 0 0 10px;
        background-color: white;
        height: 150px;
        width: 250px;
    }
}