/** query contacto TABLET **/
@media (max-width: 769px) {

    .mb-3 {
        #exampleFormControlInput1 {
            min-width: 50%;
        }

        #exampleFormControlInput2 {
            min-width: 50%;
        }

        #exampleFormControlInput3 {
            min-width: 50%;
        }

        #exampleFormControlInput4 {
            min-width: 50%;
        }

        #exampleFormControlTextarea1 {
            min-width: 75%;
        }
    }
}

/** query contacto MOBILE **/
@media (max-width: 426px) {

    .mb-3 {
        #exampleFormControlInput1 {
            min-width: 75%;
        }

        #exampleFormControlInput2 {
            min-width: 75%;
        }

        #exampleFormControlInput3 {
            min-width: 75%;
        }

        #exampleFormControlInput4 {
            min-width: 75%;
        }

        #exampleFormControlTextarea1 {
            min-width: 85%;
        }
    }
}