/* query navbar */
.nav-item {
    @include tablet {
        display: flex;
        justify-content: flex-end;
        background-color: $navbarColor;
        padding-right: 20px;
        border-bottom: 1px solid white;
        width: 100%;
        font-size: 0.9rem !important;
    }
}

ul {
    li {
        a {
            color: $navbarText !important;
            font-weight: 900;
        }

        @include tablet {
            font-size: 0.9rem !important;
        }

        @include mobile {
            font-size: 0.8rem !important;
        }
    }
}

#navbarNav {
    @include tablet {
        transform: translate(10px, -14px);
    }
}

#navcolor {
    @include tablet {
        background-color: $navbarColor;
        margin-bottom: 0px;
    }
}


/** query contacto TABLET **/
.mb-3 {
    #exampleFormControlInput1 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlInput2 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlInput3 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlInput4 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlTextarea1 {
        @include tablet {
            min-width: 75%;
        }
    }
}


/** query contacto MOBILE **/
@media (max-width: 426px) {

    .mb-3 {
        #exampleFormControlInput1 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlInput2 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlInput3 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlInput4 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlTextarea1 {
            @include mobile {
                min-width: 85%;
            }
        }
    }
}

/* query home TABLET*/
#logo {
    img {
        @include tablet {
            height: 500px !important;
            padding-top: 92px !important;
        }
    }
}

/* query home MOBILE */
#logo {
    img {
        @include mobile {
            margin-top: 20px;
            height: 400px !important;
            padding-top: 92px !important;
        }
    }
}

/* query nosotros TABLET */
.cardProveedores {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include tablet {
        .proveedores {
            height: 120px;
            width: 200px;
        }
    }
}

#logoVasa {
    @include tablet {
        margin-top: 50px;
    }
}

/* query nosotros MOBILE */
.cardProveedores {
    @include mobile {
        display: flex;
        flex-wrap: wrap;

        .proveedores {
            height: 120px;
            width: 200px;
            margin-bottom: 20px;
        }
    }
}#logoVasa {
    @include mobile {
        margin-top: 0px;
    }
}


div {
    p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* query footer TABLET */
#footerResponsive {
    p {
        @include tablet {
            font-size: 0.9rem;
        }
    }
}

/* query footer MOBILE */
div {
    p {
        @include mobile {
            font-size: 0.8rem !important;
        }
    }
}

#redes {
    a {
        img {
            height: 85%;
        }

    }
}