/* query navbar */
.nav-item {
    @include tablet {
        display: flex;
        justify-content: flex-end;
        background-color: $navbarColor;
        padding-right: 20px;
        border-bottom: 1px solid white;
        width: 100%;
        font-size: 0.9rem !important;
    }
}

ul {
    li {
        a {
            color: $navbarText !important;
            font-weight: 900;
        }

        @include tablet {
            font-size: 0.9rem !important;
        }

        @include mobile {
            font-size: 0.8rem !important;
        }
    }
}

#navbarNav {
    @include tablet {
        transform: translate(10px, -14px);
        height: 180px;
    }
}

#navcolor {
    @include tablet {
        background-color: $navbarColor;
        margin-bottom: 0px;
    }
}


/** query contacto TABLET **/
.mb-3 {
    #exampleFormControlInput1 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlInput2 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlInput3 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlInput4 {
        @include tablet {
            min-width: 50%;
        }
    }

    #exampleFormControlTextarea1 {
        @include tablet {
            min-width: 75%;
        }
    }
}

.form-select {
    @include tablet {
        min-width: 50%;
    }
}


/** query contacto MOBILE **/
@media (max-width: 426px) {

    .mb-3 {
        #exampleFormControlInput1 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlInput2 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlInput3 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlInput4 {
            @include mobile {
                min-width: 75%;
            }
        }

        #exampleFormControlTextarea1 {
            @include mobile {
                min-width: 85%;
            }
        }
    }
}

.form-select {
    @include mobile {
        min-width: 75%;
    }
}

/* query home TABLET*/
.mainHome {
    @include tablet {
        height: 90vh !important;
    }
}

#logo {
    img {
        @include tablet {
            height: 90vh !important;
            padding-top: 92px !important;
        }
    }
}

/* query home MOBILE */
.mainHome {
    @include mobile {
        height: 100vh !important;
    }
}

#logo {
    img {
        @include mobile {
            margin-top: 20px;
            height: 75vh !important;
            padding-top: 92px !important;
        }
    }
}

/* query nosotros */
@media (max-width: 992px) {
    #logoVasa {
        margin-top: 25px;
    }

    #logoAluar {
        margin-top: 25px;
    }

    #logoFexa {
        margin-top: 25px;
    }
}

/* query nosotros TABLET */
#logoAluar {
    @include tablet {
        margin-top: 25px;
    }
}

#logoFexa {
    @include tablet {
        margin-top: 25px;
    }
}

.cardProveedores {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include tablet {
        .proveedores {
            height: 120px;
            width: 200px;
        }
    }
}

/* query nosotros MOBILE */
.cardProveedores {
    @include mobile {
        display: flex;
        flex-wrap: wrap;

        .proveedores {
            height: 120px;
            width: 200px;
            margin-bottom: 20px;
        }
    }
}

div {
    p {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* query footer TABLET */
#footerResponsive {
    p {
        @include tablet {
            font-size: 0.9rem;
        }
    }
}

/* query footer MOBILE */
div {
    p {
        @include mobile {
            font-size: 0.8rem !important;
        }
    }
}

#redes {
    a {
        img {
            height: 95%;
        }

    }
}

/* query productos TABLET */
.texto-description {
    @include tablet {
        height: 46.75% !important;
    }
}

#listHierro {
    @include tablet {
        transform: translate(0px, -7px);
    }
}

#listAluminio {
    @include tablet {
        transform: translate(0px, -7px);
    }
}

#listVidrio {
    @include tablet {
        transform: translate(0px, -7px);
    }
}

@media (max-width: 426px) {
    .texto-description {
        height: 44% !important;
    }
}