/** selector **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** navbar **/

.navbar {
    background-color: rgb(193, 193, 193);
    color: #144272;
    position: fixed;
    width: 100%;
}

.nav-item {
    padding-left: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

ul li a {
    color: #144272 !important;
}

.navbar-brand img {
    height: 50px;
    width: 150px;
}

/** body **/



#logo {
    height: 100vh;
    width: 100%;
}

body {
    background-color: #144272;
}

/** Contacto **/


.form-control {
    width: 40%;
}

.mb-3 {
    padding-left: 30px;
}

.mainContacto {
    padding-top: 150px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.mainContacto h1 {
    padding-left: 20px;
    padding-bottom: 30px;
}

.mb-3 textarea {
    margin-left: 0px;
    min-width: 60%;
}

#exampleFormControlInput1 {
    background-color: rgb(193, 193, 193);
    min-width: 40%;
}

#exampleFormControlTextarea1 {
    background-color: rgb(193, 193, 193);
}

.btn {
    background-color: rgb(193, 193, 193);
    margin-left: 40px;
    margin-top: 40px;
}

.form-label {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    color: rgb(128, 128, 128);
}





textarea {
    border-radius: 3%;
    border: solid wheat;
    padding-left: 100px;
    margin-left: 10px;
}

label {
    padding-left: 10px;
}

form input {

    background-color: rgb(193, 193, 193);
}

/** Nosotros **/

.mainNosotros {
    padding-top: 150px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
}

body .mainNosotros {
    width: 100%;
}

#nosotros {
    padding-bottom: 25px;
}

h1 {
    color: rgb(128, 128, 128);
}

h2 {
    background-color: rgb(2, 23, 42);
    height: 50px;
    width: 100%;
    color: rgba(128, 128, 128, 0.751);
}

p {
    color: rgba(128, 128, 128, 0.72);
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.mapa {
    height: 750px;
    width: 750px;
    padding: 100px;

    display: flex;
}


/** Productos **/

#productos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluidP {
    max-width: 100%;
    height: 500px !important;
}

.mainProductos {
    padding-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}



/** Trabajos **/

.carousel-inner img {
    width: 600px;
    height: 550px;
    padding: 40px;
}

#trabajos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
}


#aberturas {
    display: flex;
    justify-content: center;
    align-items: center
}

#fotoAberturas {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px
}


#asadores {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoAsadores {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#galerias {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoGalerias {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#muebles {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoMuebles {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#pyP {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoPyP {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#espejos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoEspejos {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#barandas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoBarandas {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

#mamparas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoMamparas {
    background-color: rgb(79 81 96 / 74%);
    padding: 0px;
}

/** Footer **/

footer {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

footer div p {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#redes {
    display: flex;
    justify-content: center;
}

.redes {
    height: 60px;
    width: 60px;
    padding: 10px;
}

hr {
    margin-bottom: 50px;
}

/* Grid Home*/

#body a {
    text-decoration: none;
}

#body {

    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: 50px 30% 30% 200px;
    grid-template-areas:
        " header header header"
        " nav   main    main"
        " redes   main    main"
        " redes   footer  footer";

}

#body header {
    background-color: grey;
    grid-area: header;
    display: flex;
    justify-content: center;
}

#logoHome {
    height: 50px;
    width: 150px;
}



#body nav ul {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    background-color: rgb(193, 193, 193);
    position: static;

}


#body nav ul li {
    list-style: none;
    padding: 30px !important;
}

#body main {
    grid-area: main;
    height: 150vh;
}

#body nav {
    background-color: rgb(193, 193, 193);
}

#body footer {
    grid-area: footer;

}

#body #redes {
    background-color: rgb(193, 193, 193);
    grid-area: redes;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body #redes a {
    padding: 15px
}

/*query home TABLET*/

@media (max-width: 768px) {

    #body {
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 75px 25% 25% 150px 150px;
        grid-template-areas:
            " header   nav   nav"
            " main   main    main"
            " main   main    main"
            " footer   footer  footer"
            " redes redes redes ";
    }

    #body header {
        background-color: rgb(193, 193, 193);
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #body nav ul {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 75px;
    }

    #body nav ul li {
        padding: 20px !important;

    }

    #body #redes {

        grid-area: redes;
        display: flex;
        flex-direction: row;
        background-color: #144272;
    }

    hr {
        margin-bottom: 50px;
    }
}

/** query MOBILE **/

@media (max-width: 426px) {

    #body {
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 75px 25% 25% 150px 150px;
        grid-template-areas:
            " nav   nav   nav"
            " main   main    main"
            " main   main    main"
            " footer   footer  footer"
            " header redes redes ";
    }

    #body header {
        background-color: #144272;
        grid-area: header;
    }

    #body .nav li {
        padding: 10px !important;
    }

    #body nav ul {

        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        position: fixed;
        background-color: rgb(193, 193, 193);
        width: 1008%;

    }

    #body main img {
        width: 100%;
        height: 500px;
    }

    #body nav ul li {

        padding: 20px !important;
        background-color: rgb(193, 193, 193);
    }

    #body #redes {

        grid-area: redes;
        display: flex;
        flex-direction: row;
        background-color: #144272;
        align-items: center;
        justify-content: flex-end;
    }

    #body .redes {
        height: 50px;
        width: 50px;
        margin-left: -40px;

    }
}

hr {
    margin-bottom: 50px;
}

/** query contacto TABLET **/

@media (max-width: 769px) {

    .mb-3 #exampleFormControlInput1 {
        min-width: 50%;
    }
    .mb-3 textarea {
        min-width: 75%;
    }
}

/** query contacto MOBILE **/

@media (max-width: 426px) {

    .mb-3 #exampleFormControlInput1 {
        min-width: 75%;
    }
    .mb-3 textarea {
        min-width: 80%;
    }
}