footer {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;

    div {
        p {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

#redes {
    display: flex;
    justify-content: center;
    }

.redes {
    height: 60px;
    width: 60px;
    padding: 10px;
}

#redes {
    a {
        transition: transform 0.3s ease;
    }
}

#redes {
    a:hover {
        transform: scale(1.1);
    }
}

hr {
    color: white;
    margin-bottom: 50px;
}