.navbar {
    background-color: rgba(7, 7, 7, 0.946);
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 100;
}

.nav-item {
    padding-left: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

ul {
    li {
        a {
            color: rgb(243, 234, 234) !important;
        }
    }
}

.navbar-brand {
    img {
        height: 70px;
        width: 150px;
    }
}

button {
    .navbar-toggler-icon {
        background-color: rgb(128, 128, 128);
    }
}