.navbar {
    background-color: $navbarColor;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 100;
}

.nav-item {
    padding-left: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.navbar-brand {
    img {
        height: 70px;
        width: 150px;
    }
}

button {
    .navbar-toggler-icon {
        background-color: $backgoundImg;
    }
}

