.navbar {
    background-color: $navbarColor;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 100;
}

.nav-item {
    padding-left: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.navbar-brand {
    img {
        height: 70px;
        width: 150px;
    }
}

.nav-item {
    a {
        transform: 0.3s ease;
    }
}

.nav-item {
    a:hover {
        transform: scale(1.1);
    }
}

.navbar-brand {
    transform: 0.3 ease;
}

.navbar-brand {
    :hover {
        transform: scale(1.1);
    }
}