$backgroundColor: #144272;
$textColor: rgba(200, 200, 200);
$backgoundImg: rgb(79 81 96 / 74%);
$navbarColor: rgba(7, 7, 7, 0.946);
$backgroundInput: rgb(193, 193, 193);
$backgroundTitle: rgb(2, 23, 42);
$navbarText: rgba(227, 227, 227);